.watch{
    text-align: center;
    margin-top: 10%;
    border: 2px solid rgb(103, 28, 28);
    width: 45%;
    margin-left: 30%;
    height: 200px;
    background-color: rgb(138, 35, 35);
    box-shadow: 10px 10px 10px;
}
#displaytime{
    margin-top: 35px;
    padding-top: 10px;
    border: 1px solid rgb(49, 48, 48);
    box-shadow: 10px 10px 10px;

}

button{
    margin-top: 6px;
    border: 2px solid rgb(113, 5, 9);
  border-radius: 5px;
  background-color: rgb(51, 3, 3);
  padding-right: -25px;
  color: aliceblue;
  box-shadow: 5px 10px 15px rgb(21, 3, 3);
}
body{
    background-color: rgb(45, 21, 21);
}